*{
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}


.entry{
    margin: 10px;
} 

.appContainer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainContent{
    flex:1;
}

.rdw-editor-main img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
}