*{
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}


.entry{
    margin: 10px;
} 

.appContainer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainContent{
    flex:1;
}